<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tawny.shop.after.repository.AfterSalesRepository">
 	
	<insert id="insertAfterSales" parameterType="map">
 		INSERT INTO
 			`after_sales`
		(
			`userId`
			, `goodsId`
			, `payId`
			, `orderId`
			, `cancelReason`
		)
		VALUE
		(
			#{userId}
			, #{goodsId}
			, #{payId}
			, #{orderId}
			, #{cancelReason}
		)
 	</insert>
 	
 	<select id="selectAfterSalesList" resultType="com.tawny.shop.after.domain.AfterSales" parameterType="map">
 		SELECT
 			id 
 			, `userId`
			, `goodsId`
			, `payId`
			, `orderId`
			, `cancelReason`
			, `createdAT`
			, `updatedAT`
		FROM
			`after_sales`
		WHERE
			`userId` = #{userId}
		<if test="elapsedTime != 'all'">
			AND createdAT >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
		</if>	
		ORDER BY
			 `createdAT` DESC
 	</select>
 	
 </mapper>