<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tawny.shop.manager.goods.repository.GoodsRepository">
 	
 	<insert id="insertGoods" parameterType="map">
 		INSERT INTO
 			`goods`
		(
			`goodsName`
			, `price`
			, `count`
			, `category`
			, `imagePath`		
		)
		VALUE
		(
			#{goodsName}
			, #{price}
			, #{count}
			, #{category}
			, #{imagePath}
		)
 	</insert>
 	
 	<select id="selectGoodsList" resultType="com.tawny.shop.manager.goods.domain.Goods" parameterType="map">
 		SELECT
 			id 
 			, `goodsName`
			, `price`
			, `count`
			, `category`
			, `imagePath`
			, `createdAT`
			, `updatedAT`
		FROM
			`goods`
		ORDER BY
			 `createdAT` DESC
 	</select>
 	
 	<select id="selectGoods" resultType="com.tawny.shop.manager.goods.domain.Goods" parameterType="int">
 		SELECT
 			`id`
 			, `goodsName`
			, `price`
			, `count`
			, `category`
			, `imagePath`
			, `createdAT`
			, `updatedAT` 
		FROM
			`goods`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<update id="goodsUpdate" parameterType="map">
 		UPDATE
 			`goods`
		SET
			`goodsName` = #{goodsName}
			, `price` = #{price}
			, `count` = #{count}
			, `category` = #{category}
			, `updatedAT` = now()
		WHERE
			`id` = #{goodsId}
 	</update>
 	
 	<select id="findByGoodsId" resultType="com.tawny.shop.manager.goods.domain.Goods" parameterType="int">
 		SELECT
 			`id` 
		FROM
			`goods`
		WHERE
			`id` = #{id}
 	</select>
 	 	
 	<update id="updateSubtractGoodsCount" parameterType="int">
 		UPDATE
 			`goods`
		SET
			`count` = `count` - #{orderQuantity}
		WHERE
			`id` = #{goodsId}
 	</update>
 	
 	<select id="selectGoodsSearch" resultType="com.tawny.shop.manager.goods.domain.Goods" parameterType="String">
 		SELECT
 			`id`
 			, `goodsName`
			, `price`
			, `count`
			, `category`
			, `imagePath`
			, `createdAT`
			, `updatedAT` 
		FROM
			`goods`
		WHERE
			`goodsName` LIKE CONCAT('%', #{keyword}, '%')
 	</select>
 	
 </mapper>