<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tawny.shop.manager.member.repository.ManagerRepository">
 	
 	<insert id="insertManagerJoin" parameterType="map">
 		INSERT INTO
 			`manager`
 		(
			`loginId`
			, `pw`
			, `name`
			, `phoneNumber`
			, `email`
			, `saltStr`
 		)
 		VALUE
 		(
			#{loginId}
			, #{pw}
			, #{name}
			, #{phoneNumber}
			, #{email}
			, #{saltStr}
 		)
 	</insert>
 	
 	<select id="isDuplicateManagerId" resultType="int" parameterType="String">
 		SELECT 
 			count(1)
		FROM
			`manager`
		WHERE 
			`loginId` = #{loginId}
 	</select>
	
	<select id="getManagerLoginInfo" resultType="com.tawny.shop.manager.member.domain.Manager" parameterType="map">
 		SELECT 
 			`id`
 			, `loginId`
			, `pw`
			, `name`
			, `phoneNumber`
			, `email`
			, `saltStr`
			, `updatedAT`
			, `createdAT`
		FROM
			`manager`
		WHERE 
			`loginId` = #{loginId}
 	</select>
 	
 </mapper>