<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.tawny.shop.pay.repository.PayRepository">
 	
	<insert id="insertCardInfo" parameterType="map">
 		INSERT INTO
 			`pay`
		(
			`userId`
			, `card`
			, `cardNumber`
		)
		VALUE
		(
			#{userId}
			, #{card}
			, #{cardNumber}
		)
 	</insert>
 	
	<select id="selectCard" parameterType="map">
 		SELECT
			`id`
			, `userId`
			, `card`
			, `cardNumber`
		FROM
			`pay`
		WHERE
			`userId` = #{userId}
 	</select>
</mapper> 	