<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tawny.shop.user.repository.UserRepository">
 	
 	<insert id="insertJoin" parameterType="map">
 		INSERT INTO
 			`user`
 		(
			`loginId`
			, `pw`
			, `name`
			, `phoneNumber`
			, `email`
			, `address` 		
 		)
 		VALUE
 		(
			#{loginId}
			, #{pw}
			, #{name}
			, #{phoneNumber}
			, #{email}
			, #{address}
 		)
 	</insert>
 	
 	<select id="isDuplicateId" resultType="com.tawny.shop.user.domain.User" parameterType="String">
 		SELECT 
 			`id`
 			, `loginId`
			, `pw`
			, `name`
			, `phoneNumber`
			, `email`
			, `address`
		FROM
			`user`
		WHERE 
			`loginId` = #{loginId}
 	</select>

 	
 </mapper>