@charset "UTF-8";

#wrap {
	width: 100vw;
	min-height: 100vh;
	background-color: white;
}

/* header */
header {
	position: fixed;
	z-index: 1000;
	background-color: white;
}
header > .logo {
	height: 11vh;
	width: 10vw;
}
header > nav > .search {
	height: 5.5vh;
	width: 90vw;
}
header > nav > .category {
	height: 5.5vh;
	width: 90vw;
}
header > nav > .category > .login-user {
	width: 10vw;
}
.gap {
    height: 18vh;
    background-color: black;
}

/* portal */
.main-goods {
	overflow-y: auto;
	height: 75.5vh;
}
.portal {
	width: 98.9vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start; 
}
.portal > .goods {
	margin-top:9vh;
	width: 18vw;
	height: 45vh;
}
.portal > .goods-info {
	height: 20vh;
}
.goods img {
	object-fit: cover;
}


/* best-goods */
.main .best-goods {
	width: 24vw;
	height: 80vh;
}
.main .best-goods img {
	object-fit: cover;
}
.best-goods {
	width: 32vw;
	height: 82vh;
}
.best-goods img {
	object-fit: cover;
}


/* join */
.join {
	height: 82vh;
	width: 36vw;
}


/* login */
.login {
	width: 36vw;
}	
.login > .login-section {
	height: 82vh;
}


/* goods-info */
.goods-info {
	width: 36vw;
}
.goods-info > .goods {
	height: 50vh;
}
.goods-detail {
	height: 32vh;
}


/* goods-order */
.goods-payment {
	height: 70vh;
	width: 36vw;
}
.goods-payment > .pay-box > .pay-info {
	height: 23vh;
}
.goods-payment > .pay-box > .pay-method {
	height: 17vh;
}
.goods-payment > .pay-box > .pay-request {
	height: 20vh;
}


/* find */
section > .find > .find-id {
	height: 400px;
}
section > .find > .find-pw {
	height: 500px;
}
section > .find > .find-id > .input-box {
	height: 50px;
} 
section > .find > .find-pw > .input-box {
	height: 50px;
}


/* goodsUpload */
.goods-upload {
	height: 82vh;
	width: 36vw;	
}
.goods-upload > .goods-image {
	height: 36vh;
}


/* goodsUpdate */
.goods-update {
	height: 82vh;
	width: 36vw;
}
.goods-update > .goods-image {
	height: 66vh;
}
.goods-update > .goods-image img {
	object-fit: cover;
}
.update-goods-list {
	height: 82vh;
	width: 36vw;
}
.update-goods-list > goods-list {
	height: 68vh;
	overflow-y: auto;
}	
.goods-list > .goods {
    height: 100px;
}


/* mypage */
.mypage {
	height: 82vh;
	width: 36vw;
}


/* mypage -> cancel/return, orderList */
.mypage-order-list {
  	height: 68vh;
    overflow-y: auto;
}
.mypage-cancel-list {
  	height: 68vh;
    overflow-y: auto;
}
.order-image {
    height: 100px;
    width: 80px;
}


/* footer */
.main footer {
	height: 60vh;
	width: 26vw;
}
footer {
	height: 82vh;
	width: 32vw;
	justify-content: center;
	align-items: end;
	padding-bottom: 2em;
}

.no-outline:focus {
    outline: none;
}

/* border */
* {
    box-sizing: border-box;
}
.border-input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: black;
}
.thick-border {
    border-width: 3px !important;
    border-color: black !important;
}

/* button */
.btn-black {
	background-color: black;
	color: white;
}

.small-text {
	font-size:10px;
}

.icon-point {
	font-size: 0.1rem;
}
.icon-xs {
  	font-size: 1.3rem;
}
.icon-sm {
  	font-size: 1.5rem;
}
.icon-md {
  	font-size: 2rem;
}
.icon-lg {
	font-size: 2.5rem;
}

.vertical-icon {
    display: block;
}

.link {
	color: black;
}

.nav-item > .sub-category {
    position: absolute;
	left: 15%;
}
.sub-category li a {
    padding: 20px; /* 원하는 간격으로 조정합니다 */
}

.sub-category li {
    margin-top: -14px; /* 원하는 만큼 양수 값으로 조정합니다 */
}

.dropdown-item {
	color : white;
}
.dropdown-item:hover {
    background-color: transparent;
  	color : white;
	font-weight: bold;
}
.dropdown-item:active {
  	color : rgb(192, 192, 192);
  	text-decoration: none;
  	background-color: transparent !important;
}

.small-placeholder {
    font-size: 12px;
    color: gray;
}

.btn-dark:active, .btn-dark:focus {
    background-color: #343a40 !important; /* dark color */
}