@charset "UTF-8";

#wrap {
	width: 1200%;
	margin:auto;
	background-color: white;
}


header > .logo {
	height: 100px;
}
header > nav > .search {
	height: 50px;
}
header > nav > .category {
	height: 50px;
}
header > .gap {
	height: 30px;
}
header > nav > .category > .login-user {
	width: 100px;
}

/* portal */
section > .goods {
	margin-top:10px;
	width:300px;
}




/* join */
section > .join > .input-box {
	height: 50px;
}

/* login */
section > .login > .login-section {
	height: 570px;
}
section > .login > .login-section > .login-phrase {
	height: 70px;
}
section > .login > .login-section > .login-box > .input-box {
	height: 50px;
}

/* find */
section > .find > .find-id {
	height: 400px;
}
section > .find > .find-pw {
	height: 500px;
}
section > .find > .find-id > .input-box {
	height: 50px;
}
section > .find > .find-pw > .input-box {
	height: 50px;
}

/* manager goodsUpload */
.goods-image {
	height: 250px;
}

footer {
	height: 100px;
}



.border-input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

.small-text {
	font-size:10px;
}

 .icon-xs {
  	font-size: 1.3rem;
}
.icon-sm {
  	font-size: 1.5rem;
}
.icon-md {
  	font-size: 2rem;
}
.icon-lg {
	font-size: 2.5rem;
}


.nav-item > .sub-category {
    position: absolute;
	left: 15%;
}
.sub-category li a {
    padding: 20px; /* 원하는 간격으로 조정합니다 */
}

.sub-category li {
    margin-top: -14px; /* 원하는 만큼 양수 값으로 조정합니다 */
}

.dropdown-item {
	color : white;
}
.dropdown-item:hover {
    background-color: transparent;
  	color : white;
	font-weight: bold;
}
.dropdown-item:active {
  	color : rgb(192, 192, 192);
  	text-decoration: none;
  	background-color: transparent !important;
}

.small-placeholder {
    font-size: 12px;
    color: gray;
}

.btn-dark:active, .btn-dark:focus {
    background-color: #343a40 !important; /* dark color */
}